
.board {
  margin: 3rem auto;
  background-color: rgb(128, 128, 206);
width: fit-content;
border-radius: 8px;
color:azure
}
.board-container {
  padding:2rem 1rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  width: 60vh;

}

.cell {
  height:4rem;
  width: 4rem;
  background-color: azure;
  border-radius: 6px;
  margin: 4px;
  font-size: 28px;
 position: relative;
 color: black;
 cursor: default;
}
.cell-value {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top:15%;
  left:15%;
  text-align: center;
}